<form method="POST">
Title: <input type="text" name="title"><br>
Description: <input type="text" name="desc"><br>
BitCoin Address: <input type="text" name="obca"><br>
Email: <input type="text" name="email"><br>
Target: <input type="text" name="target"><br>
<input type="submit" value="Submit!">
</form>

<%= erb :data, :layout => true %>
